body{
    background-color: white;
}

.main-div{
    position: fixed;
    display: flex;
    justify-content: space-between;
    background-color:white;
    padding-top: 10px;
    margin-top: 0%;
    width: 100%;
    height:15%;
    margin-bottom: 20px;
}
.first-div{
    display: flex;
    width: 300px;
}
.first-div p{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bolder;
    padding-left: 10px;
}
.first-div img{
    width: 50px;
    height: 50px;
}
.first-div .menu{
    height: 50px;
}
.first-div .menu:hover{
    border-radius: 100px;
    background-color:gainsboro;
}

.second-div{
    width: 600px;
    height: 40px;
    border: 1px solid black;
    border-radius: 100px;
    display: flex;
    justify-content: space-between;
}
.second-div img{
width: 50px;
}
.second-div input{
    padding-top: 12px;
    padding-left: 15px;
    border: none;
    border-radius: none;
    outline: none;
    background:transparent;
}
.third-div{
    padding-right: 50px;
    /* background-color: aqua; */
}
.third-div .btn{
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}
.third-div .btn:hover{
    height: 50px;
    border-radius: 100px;
    background-color:gainsboro;
}
.third-div img{
    height: 20px;
    width: 40px;
}
.third-div .btn1{
    padding-left: 100px;
    width: 50px;
    height: 50px;
    border: none;
    background: transparent;
    font-size: 16px;
    cursor: pointer;
}
.slide{
    position: fixed;
}
.slide button{
    background: transparent;
    border: none;
    border-radius: none;
    height: 80px;
    display: block;
}
.slide img{
    width: 50px;
}
.slide button:hover{
    cursor: pointer;
    border-radius: 10px;
    background-color: gainsboro;
}
.videos{
    display: flex;
    flex-wrap: wrap;
    padding-top: 60px;
    padding-left: 50px;
}
.videos img{
    width: 100%;
}
.twice{
    padding-top: 50px;
    display: flex;
    width: 100%;
}
.videos .images{
    padding: 10px;
    width: 29%;
    margin: 10px;
    /* background-color: aquamarine; */
}
.videos .images:hover{
    border-radius: 10px;
    background-color: gainsboro;
}